*::after,::before{
    box-sizing: border-box;
}
* {
    box-sizing: border-box;font-family: 'abel';
    margin: 0;
}
@font-face {
	font-family: 'abel';
	src: url('../../abel.ttf');
	
}
.welcome{
	
	text-align: center;
	color: aliceblue;
	background: #20d736;
	padding: 1px;
	margin-bottom: 5px;
}
.nevpanel{
	background: #d000e1;
	width: 98%;
	position: fixed;
	border-bottom: 1px solid #0c0ca8;
	height: 75px;
	padding: 0;
}
.nevpanel th{
	
}
.nevpanel td{
	margin-right: 22px;
	font-size: 23px;
	text-align: center;
}
.nevpanel td a{
	text-decoration: none;
	color: aliceblue;
	text-shadow: 3px 3px 43px white;
	transition: all ease-in .25s;
}
.nevpanel td:hover{
	background: rgba(173, 6, 249, 0.61);
	text-shadow: 1px 1px 0 #c9bdbd;
	border-bottom: 2px solid blue;
}
.nevpanel a:hover{
	font-size: 30px;
	
}
.includes{
	border: 1px solid #ccc;
	margin-top: 89px;
	width: 100%;
	height: -moz-max-content;
	padding: 20px 40px;
	width: 100%;

	
}
.all{
	
}

.includes > form {
  display: flex;
  flex-wrap: wrap;
  /*background-color: DodgerBlue;*/
}

.includes > form > input {
  /*background-color: #f1f1f1;*/
  width: 20%;
  margin: 1%;

}
.includes > table {
  /*! width:75%; */
  margin: auto;
  text-align: center;
}
.includes .myput{
	/*! padding: 75px; */
	width: 125px;
	background: #d004e1;
	color: white;
	/*! size: 20px; */
	font-size: 20px;
	border-radius: 5px;
	border: none;
}
.includes > table, th, td {
  border:  0px 0px 1px 1px  solid black;
  border-collapse: collapse;
	padding: 4px 15px;
	font-family: fantasy;

}
.includes > h1{
	/*text-align: center;*/
}
.includes > form {
	margin: auto;
	width: 80%;
}

.datatable tr:nth-child(even) {
  background-color: #eee;
}
.datatable tr:nth-child(odd) {
  background-color:#fff;
}

.datatable th {
  background-color: black;
  color: white
}
.container-table{
	width: 90%;
	height: 100px;
	margin: auto;
	overflow: auto;
}

.botton-controle{

	background: #d004e1;
	color: white;
	font-size: 20px;
	border-radius: 2px;
	padding: 1px;
	text-decoration: none;
}









